EXCEL_WORKBOOK_PATH=$EXCEL_WORKBOOK_PATH
EXCEL_WORKSHEET_NAME=$EXCEL_WORKSHEET_NAME
EXCEL_TABLE_NAME=$EXCEL_TABLE_NAME
DESTINATION_PATH=$DESTINATION_PATH
SOURCE_FILES_GLOB=$SOURCE_FILES_GLOB
SOURCE_FILES_FOLDER_PATH=$SOURCE_FILES_FOLDER_PATH
DOCUMENT_TYPE=$DOCUMENT_TYPE